/* Обнуление */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
body {
    font-family: "Open Sans";
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.section_info_all {
    padding-top: 20px;
}
.section_color {
    color:#54565a;
}
.hover_item:hover {
    color: #e9a933;
}

/* fonts------------------------------------------------------------------- */

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}

/* header------------------------------------------------------------------- */

.header {
    background-color: #54565a;
}
.nav_list {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    align-items: center;
}
.nav_item {
    margin: 20px;
}
.nav_link {
    color: white;
    font-size: 18px;
    padding: 5px;
}
.nav_link:hover {   
    color: #e9a933;
}    

/* main------------------------------------------------------------------- */

.main_container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.section {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #54565a;
    color: #54565a;
    font-size: 18px;
}
.section_profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 30px 30px;
    border-bottom: 2px solid #54565a;
}
.section_profile_foto {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px #00000099;
}
.main_title {
    color:#54565a;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.subtitle {
    color: #54565a;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.section_title {
    color: #e9a933;
    font-size: 30px;
    letter-spacing: 4px;
}

/* footer------------------------------------------------------------------- */

.footer {
    background-color:#54565a;
    height: 80px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.github {
    color: white;
    padding-left: 20px;
}
.github:hover {
    color:#e9a933;
}
@media (max-width: 1440px) {
    .section {
      padding-left:20px;
      padding-right:20px;
    }
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
    .section_profile_title {
        text-align: center;
    }
}
@media (max-width: 425px) {
    .section {
      text-align: center;
    }
    .main_title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
    }
    .section_profile_title {
        text-align: center;
    }
}
@media (max-width: 320px) {
    .footer {
      font-size: 20px;
    }
}

